/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.11.2017, 14:43:18
    Author     : Сергей
*/



.codewar {
	
  text-align: center;

  &__wrapper {
    margin-top: 50px;
		margin-bottom: 50px;
  }
  &__editor {
    height: 506px;
		margin-bottom: 30px;
  }
  &__scale {
    
  }

	&__arena {
		fill: white;
	}

  &__grid {
    stroke: #c1c1c1;
    stroke-width: 0.25%;
  }
  &__nexa {
    fill: black;
    z-index: 10;
  }
  &__john {
    fill: url(../images/user.png);

    z-index: 10;
  }
  &__infected {
    fill: #f9e7e7;
    stroke: #c1c1c1;
    stroke-width: 0.25%;
    z-index: 1;
  }

	&__output {
		background-color: #ceeeee;
		margin-top: 40px;
		padding: 30px 0;
	}

  &__result.result {
    .row {
      margin-left: 0px;
      margin-bottom: 5px;
    }
  }

	.result {
		margin-top: 40px;
		&__title {
			min-height: 80px;
			margin-top: 80px;
			margin-bottom: 50px;
			font-size: 30px;
			font-family: ProximaNova-Bold;
			&.success {
				color: #00a6a5;
			}
			&.danger {
				color: #db6b6b;
			}
		}	
		&__label {
			font-family: ProximaNova-Regular;
		}
	}

  & .control {
    padding-top: 5px;
		
    &__icon {
      width: 40px;
      height: 40px;	
      display: inline-block;
      cursor: pointer;
      user-select: none;
    }
    &__play {
      background: url(../images/icon_play.png) no-repeat;
			&:hover {
				background: url(../images/icon_play_hover.png) no-repeat;
			}
    }
    &__pause {
      background: url(../images/icon_pause.png) no-repeat;
			&:hover {
				background: url(../images/icon_pause_hover.png) no-repeat;
			}
    }
    &__next {
      background: url(../images/icon_next.png) no-repeat;
			&:hover {
				background: url(../images/icon_next_hover.png) no-repeat;
			}
    }
    &__prev {
      background: url(../images/icon_prev.png) no-repeat;
			&:hover {
				background: url(../images/icon_prev_hover.png) no-repeat;
			}
    }
    &__start {
      background: url(../images/icon_start.png) no-repeat;
			&:hover {
				background: url(../images/icon_start_hover.png) no-repeat;
			}
    }
    &__end {
      background: url(../images/icon_end.png) no-repeat;
			&:hover {
				background: url(../images/icon_end_hover.png) no-repeat;
			}
    }

  }
}